.game{
    width: 800px;
    height: 250px;
    border-bottom: 1px solid #000;
    margin: auto;
}
#dino{
    width: 54px;
    height: 60px;
    background-image: url(img/dino.png);
    background-size: 54px 60px;
    position: relative;
    top: 190px;
}
#cactus{
    width: 50px;
    height: 60px;
    background-image: url(img/cactus.png);
    background-size: 50px 60px;
    position: relative;
    top: 130px;
    left: 680px;
    animation: cactusMov 2s infinite linear;
}
@keyframes cactusMov {
    0% {
        left: 680px;
    }
    100% {
        left: -20px;
    }
}
.jump {
animation: jump 0.5s linear;
}
@keyframes jump {
    0% {
        top: 150px;
    }
    30% {
        top: 40px;
    }
    80% {
        top: 0px;
    }
    90% {
        top: 10px;
    }
    100% {
        top: 150px;
    }
}